nav ul {
  display: flex;
  background-color: dodgerblue;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  border: 3px solid black;
  background-color: deepskyblue;
  color: black;
  list-style-type: none;
  font-size: 1.5em;
  font-family: sans-serif;
  margin: 3px 10px 3px;
  padding: 8px;
}